# Artefak build C/C++
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.lib
*.exp
*.res

# Cache/temporary Visual Studio dan compiler
*.tlog
*.lastbuildstate
*.log

# Folder output build
Debug/
Release/
x64/
x86/
build/
dist/

# VS Code: simpan config penting, abaikan sisanya
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
